@{
    ViewData["Title"] = "Create new user";
}
@using Bloggi.ViewModels;
@model CreateUserViewModel
<div class="container">
    <h1>Create a User</h1>
    <form asp-action="CreateUser" asp-controller="Users" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="FirstName">First name</label>
            <input type="text" asp-for="FirstName" class="form-control">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName">Last name</label>
            <input asp-for="LastName" type="text" class="form-control">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Brief"></label>
            <textarea asp-for="Brief" class="form-control" id="content" rows="4"></textarea>
            <span asp-validation-for="Brief" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SocialLinks" class="form-label"></label>
            <div class="input-group">
                <input asp-for="SocialLinks" value="" type="text" class="form-control" id="exampleInput" name="SocialLinks" placeholder="Enter your profile link">
                <span asp-validation-for="SocialLinks" class="text-danger"></span>       
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="addValueButton">Add link</button>
                </div>
            </div>
            <small id="inputHelp" class="form-text text-muted">Press "Add link" to input new profile link.</small>
        </div>
        <div class="form-group">
            <label asp-for="ProfileImage"></label>
            <input asp-for="ProfileImage" type="file" class="form-control-file" name="ProfileImage">
            <span asp-validation-for="ProfileImage" class="text-danger"></span>
        </div>
        <input type="submit" value="Register" class="btn btn-primary">
    </form>
</div>
@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/4p0i1zi0tdlanot1fb2rxzl8q1yvr1w4ia4u8wbvygxjpjru/tinymce/5/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '#content', // Replace with the ID of your textarea
            plugins: 'autolink lists link image',
            toolbar: 'undo redo | formatselect | bold italic | alignleft aligncenter alignright | bullist numlist outdent indent | link image',
            menubar: false,
            statusbar: false,
            apiKey: '4p0i1zi0tdlanot1fb2rxzl8q1yvr1w4ia4u8wbvygxjpjru' // Replace with your TinyMCE API key
        });
    </script>
    <script>
        document.getElementById('addValueButton').addEventListener('click', function () {
            // Get the input element
            var inputElement = document.getElementById('exampleInput');

            // Create a new input element
            var newInput = document.createElement('input');
            newInput.type = 'text';
            newInput.className = 'form-control mt-2';
            newInput.name = 'SocialLinks'; // Use the same name as the original input
            newInput.placeholder = 'Enter your profile link';

            // Append the new input element after the original input
            inputElement.parentNode.insertBefore(newInput, inputElement.nextSibling);
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}