<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You for Subscribing</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f5f5f5; margin: 0; padding: 0;">

    <!-- Email Container -->
    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color: #f5f5f5;">
        <tr>
            <td align="center">
                <table width="600" cellpadding="0" cellspacing="0" border="0" style="background-color: #ffffff; margin: 20px auto;">
                    <tr>
                        <td align="center" style="padding: 40px 0;">
                            <img src="https://i.ibb.co/QK8MM6p/logo.png" alt="Logo">
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding: 20px;">
                            <h1>Thank You for Subscribing!</h1>
                            <p>We are excited to have you as a subscriber. You will receive our latest updates and blog posts directly in your inbox.</p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding: 20px;">
                            <p>If you have any questions or need assistance, feel free to <a href="https://www.linkedin.com/in/abdullahhakimam">contact us</a>.</p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding: 20px;">
                            <p>Stay tuned for our upcoming posts!</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</body>
</html>
